* {
    box-sizing: border-box;
}

#desk-container {
    position: fixed;
    z-index: var(--helpdesk-max-zindex);
    top: 50%; /* Para centralizar verticalmente */
    right: 0;
    transform: translateY(-50%); /* Ajusta o container para ficar centralizado */
    display: flex;
    flex-direction: row; /* Organiza o botão e o conteúdo horizontalmente */
    align-items: center;
    justify-content: flex-start;
    width: 50px; /* Inicialmente só mostra o botão */
    height: 70vh; /* 70% da altura da viewport */
    transition: all 0.4s ease; /* Transição suave */
    overflow: hidden; /* Para esconder o conteúdo até a janela ser aberta */
}

#desk-container-toggle-button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    z-index: 99999999;
}

#desk-container.open {
    width: 483px; /* 433px + 50px de largura do botão */
}

.desk-container-body { 
    display: none; /* Inicialmente escondido */
    flex: 1;
    height: 100%;
    background-color: white; /* Fundo branco para contraste */
    z-index: 15;
    border-radius: 10px;
}

/* Aplicando unicamente no bodyContainer, desconsiderando o botao */
#desk-container.open .desk-container-body {
    display: flex; /* Mostra o conteúdo ao abrir a janela */
    flex-direction: column;
}

