* {
    box-sizing: border-box;
}

#desk-container {
    position: fixed;
    z-index: 99999999;
    top: 50%; /* Para centralizar verticalmente */
    right: 0;
    transform: translateY(-50%); /* Ajusta o container para ficar centralizado */
    display: flex;
    flex-direction: row; /* Organiza o botão e o conteúdo horizontalmente */
    align-items: center;
    justify-content: flex-start;
    width: 50px; /* Inicialmente só mostra o botão */
    height: 70vh; /* 70% da altura da viewport */
    transition: all 0.4s ease; /* Transição suave */
    overflow: hidden; /* Para esconder o conteúdo até a janela ser aberta */
}

#desk-container-toggle-button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    z-index: 99999999;
}

#desk-container.open {
    width: 483px; /* 433px + 50px de largura do botão */
}

.desk-container-body { 
    display: none; /* Inicialmente escondido */
    flex: 1;
    height: 100%;
    background-color: white; /* Fundo branco para contraste */
    z-index: 15;
    border-radius: 10px;
}

/* Aplicando unicamente no bodyContainer, desconsiderando o botao */
#desk-container.open .desk-container-body {
    display: flex; /* Mostra o conteúdo ao abrir a janela */
    flex-direction: column;
}

.top-area-header{
    padding-top: 10px;
    padding-left: 14px ;
    padding-right: 10px;
    background-color: #F4F7FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button-header-container{
    border-radius: 9999px;
    background-color: #D8DFE7;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-header-container img{
    height: 16px;
    width: 16px;
}


.linkUser{
    background-color: #D8DFE7;
    border-radius: 20px;
}

.linkUser a{
    padding: 10px;
    color: #4B5056;
}

.bottom-area-header{
    background-color: #F4F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.text-bottom-area-header{
    padding-bottom: 5px;
    border-bottom: 2px solid #005A04
}

#content-body-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 14px ;
    margin-right: 11px;
}

#content-body-container.closed{
    display: none
}



#content-body-container-template{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 14px ;
    margin-right: 11px;
}

#content-body-container-template.closed{
    display: none;
    
}

.trigger-input{
    display: flex;
    flex-direction: column;
    border: 1px solid #d8dfe7;
    border-radius: 8px;
    color: rgb(75, 80, 86);
    padding: 0px 4px 0px 4px;
}

.trigger-input div{
    font-size: 10px;
    font-weight: 700;
    color: rgb(75, 80, 86)
}

.trigger-input input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 10px;
}


.full-text-trigger {
    overflow-y: auto; /* Habilita a rolagem vertical */
    margin-top: 5px;
    height: 400px; /* Altura fixa */
    border: 1px solid #d8dfe7;
    border-radius: 8px;
    color: rgb(75, 80, 86);
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
}

.searchbox-body-container{
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #D8DFE7;
    background: #FFF;
    border-radius: 10px;
    padding: 0 5px;
}

.searchbox-body-container input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 10px;
  }

  .svgLupa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
  }

  .svgLupa img {
    height: 16px; 
    width: 16px;  
}

.templateToggler{
    margin-top: 8px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.templateCounter{
    color: #6F747C;
    font-size: 12px;
}

.arrowKeyTemplate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 102, 255, 0);
    width: 26px;
    height: 26px;
    border-radius: 10px;
    color: #6F747C;
    font-size: 12px;
}

.arrowKeyTemplate:hover{
    background-color: #ACC1FF;
    font-weight: 700;
}

.arrowKeyTemplate img{
    width: 16px;
    height: 16px;
}

.templates_expanded{
    position: relative;
    display: flex;
    flex-direction: column; /* Para garantir que a lista ocupe toda a coluna */
    max-height: 400px; /* Defina uma altura máxima para que o scroll funcione */
    overflow-y: auto; /* Habilita o scroll vertical */
    overflow-x: hidden; /* Habilita o scroll vertical */
    padding-right: 10px; /* Opcional: Para espaçamento entre o scroll e o conteúdo */
    transition: all ease 0.5s;
}


.templates_closed{
    /* right: -999px; */
}


.templates_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 381px;
    text-overflow: ellipsis;
    
}

.template_item{
    color: rgb(34, 37, 40);
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 238, 244);
    border: 1px solid;
    border-color: rgb(216, 223, 231);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    height: 52px;
    border-radius: 5px;
}

.template_item:hover{
    font-weight: 700;
    cursor: pointer;
}

.list-full-title{
    padding-left: 5px;
    padding-bottom: 3px;
    color: rgb(34, 37, 40);
    font-size: 14px;
}

.list-full-title:hover{
    font-weight: 700;
}

.list-subtitle{
    max-width: 380px;
    padding-left: 5px;
    color: rgb(75, 80, 86);
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer-body-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    color: #4B5056;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.shortcut-box{
    overflow-y: auto;
    position: absolute;
    top: 50px;
    left: 50px;
    display: none;
    height: 400px;
    width: 350px;
    border: 1px solid rgb(77, 74, 74);
    background-color: gainsboro;
    border-radius: 10px;
    z-index: 50;
}


.shortcut_item{
    color: rgb(34, 37, 40);
    padding-left: 4px;
    margin-top: 1px;
    margin-bottom: 3px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 238, 244);
    border-color: rgb(216, 223, 231);
    text-overflow: ellipsis;
    text-wrap: wrap;
    height: 52px;
    border-radius: 5px;
}

.shortcut_item:hover{
    background-color: #ACC1FF;
    cursor: pointer;
}

.shortcut-title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.shortcut-description{
    font-size: 9px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Permite a quebra de linha */
}







  


/* 

--magical-gray-00: #F4F7FB;
--magical-primary-00: #EEF4FF;
--magical-primary-10: #D2E1FF;
--magical-primary-20: #ACC1FF;
--magical-primary-40: #576BFF;
--magical-primary-50: #2B37FF;
--magical-primary-60: #0000FF;
--magical-primary-70: #0004D3;
--magical-primary-80: #00059A;
--magical-primary-90: #000457;

    --magical-primary-00: #EEF4FF;
    --magical-primary-10: #D2E1FF;
    --magical-primary-20: #ACC1FF;
    --magical-primary-40: #576BFF;
    --magical-primary-50: #2B37FF;
    --magical-primary-60: #0000FF;
    --magical-primary-70: #0004D3;
    --magical-primary-80: #00059A;
    --magical-primary-90: #000457;
    --magical-secondary-00: var(--magical-green-00);
    --magical-secondary-10: var(--magical-green-10);
    --magical-secondary-20: #AFFBA3;
    --magical-secondary-30: #83F175;
    --magical-secondary-50: #2AC720;
    --magical-secondary-60: var(--magical-green-60);
    --magical-secondary-70: #008201;
    --magical-secondary-80: #005A04;
    --magical-gray-80: #222528;
    --magical-gray-70: #323539;
    --magical-gray-60: #4B5056;
    --magical-gray-50: #6F747C;
    --magical-gray-40: #969DA6;
    --magical-gray-30: #BBC2CB;
    --magical-gray-20: #D8DFE7;
    --magical-gray-10: #E9EEF4;
    --magical-gray-00: #F4F7FB;
    --magical-blue-00: #F5F5FF;
    --magical-green-00: #F1FFEB;
    --magical-green-10: #D7FFCF;
    --magical-green-60: #06AA00;
    --magical-green-70: #008201;
    --magical-green-80: #005A04;
    --magical-new-green-10: #F6FBEE;
    --magical-new-green-20: #E6FFC6;
    --magical-new-green-30: #CBFF87;
    --magical-new-green-40: #AFFF4A;
    --magical-new-green-80: #00990F;
    --magical-new-green-90: #0A6925;
    --magical-red-00: #FFE7E7;
    --magical-red-10: #FFD1D1;
    --magical-red-20: #FFABAB;
    --magical-red-30: #FF7676;
    --magical-red-40: #FF3939;
    --magical-red-50: #FF0000;
    --magical-red-60: #CE0000;
    --magical-red-70: #9B0000;
    --magical-red-80: #680303;
    --magical-red-90: #360606;
    --magical-orange-00: #FDEAD9;
    --magical-orange-10: #FFE0B5;
    --magical-orange-20: #FFD382;
    --magical-orange-30: #FFC543;
    --magical-orange-40: #FFB800;
    --magical-orange-60: #B25900;
    --magical-orange-70: #883904;
    --magical-orange-80: #5F240A;
    --magical-tag-red-purple: #F9DCF4;
    --magical-tag-purple: #EBE3FC;
    --magical-tag-gray: #E9EEF4;
    --magical-tag-blue: #D6EFFC;
    --magical-tag-teal: #CCF3E9;
    --magical-tag-green: #D9F5C8;
    --magical-tag-yellow: #F7F9B8;
    --magical-tag-orange: #FBEABC;
    --magical-tag-red-orange: #F9E3D7;
    --magical-tag-red: #F9DEE5;

*/